@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #0f0f0f;
    --secondary-color: #171717;
    --red-color: #ca0000;
    --hover-color: #8b0000;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: #fff;
}



/* ==================== HEADER ==================== */
header {
    background: var(--secondary-color);
}

.brand:hover,
.nav-link:hover,
.navbar-toggler-icon:hover,
.navbar-nav .nav-link.active:focus {
    color: var(--hover-color);
}

.navbar .navbar-toggler,
.navbar .navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

span,
hr {
    color: var(--red-color);
}

.brand {
    text-decoration: none;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.nav-link {
    color: var(--red-color);
    cursor: pointer;
}

.navbar-toggler-icon {
    color: var(--red-color);
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

/* ==================== MAIN ==================== */

main .third-section {
    background: var(--secondary-color);
}

main .third-section .skills {
    cursor: pointer;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

main .third-section .skills:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

main .third-section .skills .icon {
    color: var(--red-color);
}

/* ======================== */

/* ======================== */

main .btn {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--red-color);
    border: solid 1px transparent;
    border-radius: 0;
    transition: 500ms;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

main .btn:hover {
    background-color: transparent;
    border: solid 1px var(--red-color);
    color: var(--red-color);
}

main .fifth-section .form-control {
    color: #fff;
    background-color: transparent;
    border: solid 1px var(--red-color);
    border-radius: 0;
    transition: 500ms;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

main .fifth-section .form-control:hover {
    border: solid 1px var(--hover-color);
}

/* ============ FOOTER ============ */
footer {
    background-color: var(--secondary-color);
}

footer .sm-icon {
    color: var(--red-color);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

footer .sm-icon:hover {
    color: var(--hover-color);
}